{% extends 'baselogin.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="login-container">
    <div class="login-box">

        <h1>Connexion</h1>

        <form method="post" class="login-form">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <div class="form-group">
                <input type="text" value="{{ last_username }}" name="_username" id="username" 
                       class="form-control" placeholder="NOM D'UTILISATEUR" required autofocus>
            </div>

            <div class="form-group">
                <input type="password" name="_password" id="password" 
                       class="form-control" placeholder="MOT DE PASSE" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="social-login">
                <button type="button" class="social-btn facebook">
                {# <img src="{{ asset('assets/images/facebook.png') }}" alt="logo Facebook"> #}
                    <span class="icon">F</span>
                </button>
                <button type="button" class="social-btn google">
                    <span class="icon">G</span>
                </button>
                <button type="button" class="social-btn apple">
                    <span class="icon"></span>
                </button>
                <button type="button" class="social-btn xbox">
                    <span class="icon">X</span>
                </button>
                <button type="button" class="social-btn playstation">
                    <span class="icon">P</span>
                </button>
            </div>


            <button class="submit-btn" type="submit">
                <span class="arrow">→</span>
            </button>
        </form>

        <div class="login-footer">
            <a href="#" class="cant-login">IMPOSSIBLE DE VOUS CONNECTER ?</a>
            <a href="{{ path('app_register') }}" class="create-account">CRÉER UN COMPTE</a>
        </div>
    </div>
</div>
{% endblock %}
