{% extends 'base.html.twig' %}

{% block title %}Hello LockerItemController!{% endblock %}

{% block body %}
<main class="main-weapon-detail">

        <img class="main-weapon-detail-bg" src="https://trackercdn.com/cdn/tracker.gg/premium/pattern-poly.png?v=2">

        <div class="title">
            <p>{{item.getItem().getItemType()}}</p>
        </div>

        <div class="choice" style="gap: 30px; align-items: center;">
            <p>SKINS</p>
            {{ form_start(formUpdate) }}
                <button type="submit" class="locker-form" style="padding-top: 0px">
                    <div>
                        <a>
                            <p>
                                <span class="bg"></span>
                                <span class="base"></span>
                                <span class="text">{{item.getIsMainItemType() ? 'Enlever du premier plan' : 'Mettre au premier plan'}}</span>
                            </p>
                        </a>
                    </div>
                </button>
            {{ form_end(formUpdate) }}

            
        </div>

        <div class="img-skin">
            <img src="{{item.getChroma().getDisplayIcon()}}">
        </div>

        <div class="skin-bottom">
            <div class="chromas">
            
                {% for ch in item.getItem().getChromas()  %}
                    <a class="chroma" href="/item/{{item.getItem().getId()}}/{{ch.getId()}}">
                        <img src="{{ch.getDisplayIcon()}}" >
                    </a>
                {% endfor %}
                
            </div>

            <p class="skin-title">{{item.getChroma().getDisplayName()}}</p>
            <div class="locker-form">
                <div>
                    <a href="/locker/{{lockerId}}/delete/{{lockerItemId}}">
                      <p>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">REMOVE SKIN</span>
                      </p>
                    </a>
                </div>
            </div>
            
        </div>
        
        <div class="list-items">
            {% for i in allItem  %}
                <a class="item" href="/locker/{{lockerId}}/{{i.getId()}}">
                    <img src="{{i.getChroma().getDisplayIcon()}}">
                </a>
            {% endfor %}
        </div>

    </main>
{% endblock %}
