{% extends 'base.html.twig' %}

{% block title %}Hello LockerController!{% endblock %}

{% block body %}

<main class="main-locker">

        <img class="image-background" src="https://imgsvc.trackercdn.com/url/height(1000),quality(40)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Fvalorant%2Fimages%2Fvalorant-home-hero.jpg/image.jpg"> 

        <div class="locker">

            <div class="locker-form">
                <form>
                    <label>Locker name:</label>
                    <input type="text" value="my locker" class="locker-name">
                </form>
                <div>
                    <a href="#">
                      <p>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">Set To Public</span>
                      </p>
                    </a>
                  </div>
                  
            </div>

            <div class="locker-content">
                <div class="locker-ligne">
                    <p class="title-ligne">Player Cards</p>
                    <div class="card">
                        <img src="https://media.valorant-api.com/playercards/33c1f011-4eca-068c-9751-f68c788b2eee/largeart.png">
                        <p>Imperatrice</p>
                    </div>
                    <div class="sprays">
                        <p class="title-ligne">Sprays</p>
                        <div class="container">
                            <img src="https://media.valorant-api.com/sprays/3d2bcfc5-442b-812e-3c08-9180d6b36077/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                                <div class="square"></div>
                            </div>
                            <p>my spray</p>
                        </div>
                        <div class="container">
                            <img>
                            <div class="list-items">
                                <div class="square"></div>
                                <div class="square"></div>
                            </div>
                            <p>my spray</p>
                        </div>
                        
                    </div>
                </div>
                <div class="locker-ligne sidearms">
                    <p class="title-ligne">sidearms</p>
    
                    {% if weapons['Classic'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Classic'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Classic']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Classic'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/29a0cfab-485b-f5d5-779a-b59f85e204a8/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Classic</p>
                        </a>
                    {% endif %}
                    {% if weapons['Shorty'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Shorty'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Shorty']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Shorty'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/42da8ccc-40d5-affc-beec-15aa47b42eda/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Shorty</p>
                        </a>
                    {% endif %}
                    {% if weapons['Frenzy'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Frenzy'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Frenzy']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Frenzy'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                           <img src="https://media.valorant-api.com/weapons/44d4e95c-4157-0037-81b2-17841bf2e8e3/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Frenzy</p>
                        </a>
                    {% endif %}
                    {% if weapons['Ghost'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Ghost'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Ghost']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Ghost'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                           <img src="https://media.valorant-api.com/weapons/1baa85b4-4c70-1284-64bb-6481dfc3bb4e/displayicon.png">


                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Ghost</p>
                        </a>
                    {% endif %}
                    {% if weapons['Sheriff'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Sheriff'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Sheriff']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Sheriff'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/e336c6b8-418d-9340-d77f-7a9e4cfe0702/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Sheriff</p>
                        </a>
                    {% endif %}
                </div>
                <div class="locker-ligne sidearms">
                    <p class="title-ligne">SMGS</p>
    
                    {% if weapons['Stinger'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Stinger'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Stinger']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Stinger'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                           <img src="https://media.valorant-api.com/weapons/f7e1b454-4ad4-1063-ec0a-159e56b58941/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Stinger</p>
                        </a>
                    {% endif %}

                    {% if weapons['Spectre'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Spectre'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Spectre']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Spectre'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                           <img src="https://media.valorant-api.com/weapons/462080d1-4035-2937-7c09-27aa2a5c27a7/displayicon.png">


                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Spectre</p>
                        </a>
                    {% endif %}
                    
                    <p class="title-ligne">Shotguns</p>
    
                    {% if weapons['Bucky'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Bucky'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Bucky']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Bucky'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                           <img src="https://media.valorant-api.com/weapons/910be174-449b-c412-ab22-d0873436b21b/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Bucky</p>
                        </a>
                    {% endif %}
                    {% if weapons['Judge'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Judge'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Judge']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Judge'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/ec845bf4-4f79-ddda-a3da-0db3774b2794/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Judge</p>
                        </a>
                    {% endif %}
                </div>
                <div class="locker-ligne sidearms">
                    <p class="title-ligne">Rifles</p>
    
                    {% if weapons['Bulldog'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Bulldog'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Bulldog']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Bulldog'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/ae3de142-4d85-2547-dd26-4e90bed35cf7/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Bulldog</p>
                        </a>
                    {% endif %}
                    {% if weapons['Guardian'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Guardian'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Guardian']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Guardian'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/4ade7faa-4cf1-8376-95ef-39884480959b/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Guardian</p>
                        </a>
                    {% endif %}
                    {% if weapons['Phantom'] is defined %}
                        <a class="container">
                            <img  src="{{weapons['Phantom'][0].getChroma().getDisplayIcon()}}">
                            <div class="list-items">
                                {% for item in weapons['Phantom']  %}
                                    <div class="square"></div>
                                {% endfor %}
                            </div>
                            <p>{{weapons['Phantom'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/ee8e8d15-496b-07ac-e5f6-8fae5d4c7b1a/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Phantom</p>
                        </a>
                    {% endif %}
                    {% if weapons['Vandal'] is defined %}
                        <a class="container">
                            <img  src="{{weapons['Vandal'][0].getChroma().getDisplayIcon()}}">
                            <div class="list-items">
                                {% for item in weapons['Vandal']  %}
                                    <div class="square"></div>
                                {% endfor %}
                            </div>
                            <p>{{weapons['Vandal'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/9c82e19d-4575-0200-1a81-3eacf00cf872/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Vandal</p>
                        </a>
                    {% endif %}
                </div>
                <div class="locker-ligne sidearms">
                    <p class="title-ligne">Sniper rifles</p>
    
                    {% if weapons['Marshal'] is defined %}
                        <a class="container">
                            <img  src="{{weapons['Marshal'][0].getChroma().getDisplayIcon()}}">
                            <div class="list-items">
                                {% for item in weapons['Marshal']  %}
                                    <div class="square"></div>
                                {% endfor %}
                            </div>
                            <p>{{weapons['Marshal'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/c4883e50-4494-202c-3ec3-6b8a9284f00b/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Marshal</p>
                        </a>
                    {% endif %}

                    {% if weapons['Operator'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Operator'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Operator']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Operator'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/a03b24d3-4319-996d-0f8c-94bbfba1dfc7/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Operator</p>
                        </a>
                    {% endif %}

                    <p class="title-ligne">Machine Guns</p>
    
                    {% if weapons['Ares'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Ares'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Ares']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Ares'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/55d8a0f4-4274-ca67-fe2c-06ab45efdf58/displayicon.png">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Ares</p>
                        </a>
                    {% endif %}

                    {% if weapons['Odin'] is defined %}
                        <a class="container">
                        <img  src="{{weapons['Odin'][0].getChroma().getDisplayIcon()}}">
                        <div class="list-items">
                            {% for item in weapons['Odin']  %}
                                <div class="square"></div>
                            {% endfor %}
                        </div>
                        <p>{{weapons['Odin'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/63e6c2b6-4a8e-869c-3d4c-e38355226584/displayicon.png ">
                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Odin</p>
                        </a>
                    {% endif %}

                    
                    
                    <p class="title-ligne">MELEE</p>
    
                    {% if weapons['Melee'] is defined %}
                        <a class="container">
                            <img src="{{weapons['Melee'][0].getChroma().getDisplayIcon()}}">
                            <div class="list-items">
                                {% for item in weapons['Melee']  %}
                                    <div class="square"></div>
                                {% endfor %}
                            </div>
                            <p>{{weapons['Melee'][0].getChroma().getDisplayName()}}</p>
                        </a>
                    {% else %}
                        <a class="container">
                            <img src="https://media.valorant-api.com/weapons/2f59173c-4bed-b6c3-2191-dea9b58be9c7/displayicon.png">

                            <div class="list-items">
                                <div class="square"></div>
                            </div>
                            <p>Melee</p>
                        </a>
                    {% endif %}
                </div>
            </div>
            

        </div>
    </main>

{% endblock %}
