{% extends 'base.html.twig' %}

{% block title %}Hello LockerItemController!{% endblock %}

{% block body %}

<main class="main-weapon-detail">

        <img class="main-weapon-detail-bg" src="https://trackercdn.com/cdn/tracker.gg/premium/pattern-poly.png?v=2">

        <div class="title">
            <p>{{type}}</p>
        </div>

        <div class="choice">
            <p>SKINS</p>
            <p>OTHER</p>
        </div>

        <div class="img-skin">
            <img src="{{chroma.fullRender}}">
        </div>

        <div class="skin-bottom">
            <div class="chromas">
            
                {% for ch in item.chromas  %}
                    <a class="chroma" href="/item/{{item['uuid']}}/{{ch.uuid}}/{{type}}">
                        <img src="{{ch.fullRender}}" >
                    </a>
                {% endfor %}
                
            </div>

            <p class="skin-title">{{chroma.displayName}}</p>
            <div class="locker-form">
                <div>
                    <a href="{{chromaIsInMyLocker ? '/locker/' ~ lockerId : '/item/add/' ~ item.uuid ~ '/' ~ chroma.uuid }}">
                      <p>
                        <span class="bg"></span>
                        <span class="base"></span>
                        <span class="text">{{chromaIsInMyLocker ? 'SEE IN MY LOCKER' : 'ADD SKIN'}}</span>
                      </p>
                    </a>
                </div>
            </div>
            
        </div>
        
        <div class="list-items">
                {% for r in recomendation  %}
                     <a class="item" href="/item/{{r['uuid']}}/{{r['chromas'][0]['uuid']}}/{{r['type']}}">
                        <img src="{{r['displayIcon']}}">
                    </a>
                {% endfor %}
        </div>

    </main>
{% endblock %}
