{% extends 'base.html.twig' %}

{% block title %}Other{% endblock %}

{% block body %}
<main class="main-title-detail">
    <h2 class="title">
        {% if type == 'playerTitle' %}
            <p>TITRE DE JOUEUR</p>
        {% elseif type == 'playerCard' %}
            <p>CARTE DE JOUEUR</p>
        {% elseif type == 'spray' %}
            <p>SPRAY</p>
        {% endif %}
    </h2>

    <div class="img-skin">
        <div class="item-title">
            {% if type == 'playerTitle' %}
                <img src="https://media.valorant-api.com/playercards/9fb348bc-41a0-91ad-8a3e-818035c4e561/largeart.png" alt="{{ item.displayName }}">
            {% elseif type == 'playerCard' %}
                <img src="{{ item.largeArt }}" alt="{{ item.displayName }}">
            {% elseif type == 'spray' %}
                <img src="{{ item.fullTransparentIcon }}" alt="{{ item.displayName }}">
            {% endif %}
            {% if type == 'playerTitle' %}
                <div class="title-overlay">
                    <p>{{ item.displayName }}</p>
                </div>
            {% elseif type == 'playerCard' or type == 'spray' %}
                <div class="card-title">
                    <p>{{ item.displayName }}</p>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="skin-bottom">
        <div class="locker-form" style="justify-content: end">
            <div>
                {% if type == 'playerTitle' %}
                    <a href="{{inMyLocker ? path('app_locker_item', {'id': lockerId,'itemId': item.uuid}) : path('app_item_create', {'id': item.uuid,'data': 'playerTitle'}) }}">
                {% elseif type == 'playerCard' %}
                    <a href="{{inMyLocker ? path('app_locker_item', {'id': lockerId,'itemId': item.uuid}) : path('app_item_create', {'id': item.uuid,'data': 'playerCard'}) }}">
                {% elseif type == 'spray' %}
                    <a href="{{inMyLocker ? path('app_locker_item', {'id': lockerId,'itemId': item.uuid}) : path('app_item_create', {'id': item.uuid,'data': 'spray'}) }}">
                {% endif %}
                <p>
                    <span class="bg"></span>
                    <span class="base"></span>
                    {% if type == 'playerTitle' %}
                        <span class="text">{{inMyLocker ? 'VOIR DANS SON CASIER' : 'AJOUTER LE TITRE'}}</span>
                    {% elseif type == 'playerCard' %}
                        <span class="text">{{inMyLocker ? 'VOIR DANS SON CASIER' : 'AJOUTER LA CARTE'}}</span>
                    {% elseif type == 'spray' %}
                        <span class="text">{{inMyLocker ? 'VOIR DANS SON CASIER' : 'AJOUTER LE SPRAY'}}</span>
                    {% endif %}
                </p>
            </a>
        </div>
    </div>

    <div class="list-items">
        {% for recom in recomendation %}
            {% if type == 'playerTitle' %}
            <div class="item">
                <a href="{{ path('app_item_other', {
                    'id': recom.uuid,
                    'type': 'playerTitle'
                }) }}">
                    <img src="https://media.valorant-api.com/playercards/9fb348bc-41a0-91ad-8a3e-818035c4e561/largeart.png" alt="{{ recom.displayName }}">
                </a>
                </div>
            {% elseif type == 'playerCard' %}
                <div class="item">
                    <a href="{{ path('app_item_other', {
                    'id': recom.uuid,
                    'type': 'playerCard'
                }) }}">
                    <img src="{{ recom.largeArt }}" alt="{{ recom.displayName }}">
                </a>
            </div>
            {% elseif type == 'spray' %}
                <div class="item">
                    <a href="{{ path('app_item_other', {
                    'id': recom.uuid,
                    'type': 'spray'
                }) }}">
                    <img src="{{ recom.fullTransparentIcon }}" alt="{{ recom.displayName }}">
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>

</main>

<img src="https://trackercdn.com/cdn/tracker.gg/premium/pattern-poly.png?v=2" alt="" class="main-title-detail-bg">
{% endblock %}
